nav {
    background-color: #222;
    overflow: hidden;
}

nav a {
    color: #eee;
    text-align: center;
    font-size: 34px;
    text-decoration: none !important;
    padding: 25px 50px 25px 50px;
}

nav a:hover {
    color: #ccc;
}

nav a.active {
    background-color: #2222ff;
}