nav {
    background-color: #222;
    overflow: hidden;
}

nav a, a:hover, a:visited, a:link, a:active {
    color: #eee;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

nav a.active {
    background-color: #2222ff;
}