nav {
    background-color: #222;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    min-height: 50px;
}

nav a {
    color: #eee;
    text-align: center;
    font-size: 3vw;
    text-decoration: none !important;
    padding: 25px 2vw;
}

nav a:hover {
    color: #eee;
    background-color: #444;
}

nav a.active {
    background-color: #df5555;
}